html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-control.leaflet-timeline-control {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  box-sizing: content-box;
}
.leaflet-timeline-control .time-slider {
  min-width: 300px;
  width: calc(100vw - 25px);
  max-width: 640px;
}

.leaflet-timeline-control button.prev::before {
  content: "⏮";
}
.leaflet-timeline-control button.play::before {
  content: "⏯";
}
.leaflet-timeline-control button.pause::before {
  content: "⏸";
}
.leaflet-timeline-control button.next::before {
  content: "⏭";
}
