html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-timeline-control .time-slider {
  width: 360px;
}

.leaflet-timeline-control button.prev::before {
  content: "⏮";
}
.leaflet-timeline-control button.play::before {
  content: "⏯";
}
.leaflet-timeline-control button.pause::before {
  content: "⏸";
}
.leaflet-timeline-control button.next::before {
  content: "⏭";
}
